/application/config/config.local.php
/application/config/config.testing.php
/application/logs/*
/application/plugins/*
/application/tmp/*
/resources/docs/*
/vendor
/uploads/*
/.idea/
composer.phar
composer.lock
.DS_Store